<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Recovery code</title>
    <style type="text/css">
	body {
		margin: 0;
		background-color: #cccccc;
	}
	table {
		border-spacing: 0;
	}
	td {
		padding: 0;
	}
	img {
		border: 0;
	}
    .wrapper{
        width: 100%;
        table-layout: fixed;
        background-color: #cccccc;
        padding-bottom: 60 px;
    }
    .main{
        background-color: #ffffff;
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        border-spacing: 0;
        font-family: sans-serif;
        color: #4a4a4a;
    }
    .two-columns {
        text-align: center;
        font-size: 0;
    }
    .two-columns .column{
        width: 100%;
        max-width: 300px;
        display: inline-block;
        vertical-align: top;
    }
    .button{
        background-color: rgb(127, 90, 64);
        color: #ffffff;
        text-decoration: none;
        padding: 12px 20px;
        font-weight: bold;
        border-radius: 10px;
    }

</style>
</head>

<body>

    <div class="wrapper">

        <table class="main" width="100%">
<!-- BLUE BORDER -->
            <tr>
                <td height="8" style="background-color: rgb(102, 134, 176);"></td>
            </tr>

<!-- LOGO SECTION -->
<tr>
    <td style="padding: 14px 0 4px;">
        <table width="100%">
            <tr>
                <td class="two-columns">

                    <table class="column">
                        <tr>
                            <td style="padding: 0 62px 10px;">
                                <a href=#><img src="https://i.ibb.co/rbt1XBN/logo.jpg"
                                                                      alt="logo" width="180"></a>
                            </td>
                        </tr>
                    </table>

                    <table class="column">
                        <tr>
                            <td style="padding: 10px 60px;">
                                <a href=#><img src="https://i.ibb.co/h7gznDD/circle-instagram.png"
                                                                  alt="circle-instagram" width="32"></a>
                                <a href=#><img src="https://i.ibb.co/b6kFVzV/circle-facebook.png"
                                                                  alt="circle-facebook" width="32"></a>
                                <a href=#><img src="https://i.ibb.co/tD9zK7n/circle-youtube.png"
                                                                  alt="circle-youtube" width="32"></a>
                                <a href=#><img src="https://i.ibb.co/6YHDftb/circle-twitter.png"
                                                                  alt="circle-twitter" width="32"></a>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>

        </table>
    </td>
</tr>

<!-- BANNER IMAGE
            <tr>
                <td style="display: flex; justify-content: center;">
                    <a href="#"><img src="https://i.ibb.co/qWyvWnY/lock.png" alt="lock"
                                     width="800" style="max-width:100%;"></a>
                </td>
            </tr> -->

<!-- TITLE, TEXT & BUTTON -->
            <tr>
                <td style="padding: 5px 0 50px;">
                    <table width="100%">

                        <tr>
                            <td style="text-align: center;padding: 15px;">

                                <p class="card-text text-center" style="font-size: 20px;font-weight: bold;">
                                    <strong style="font-size: 20px;font-weight: bold;">{{ text_detail }}</strong>

                                <p style="font-size: 15px;line-height: 23px;padding: 5px 0 15px;"> Будьте осторожны с пересылкой этого сообщения, оно 
                                может содержать вашу личную информацию!</p>

                                <p class="text-center">
                                    {{ email }} </p>

                                <p style="color: #4a4a4a;"> {{ resume }} </p>
                                </p>

                            </td>
                        </tr>

                    </table>
                </td>
            </tr>

<!-- BLUE BORDER -->
            <tr>
                <td height="5" style="background-color: rgb(138, 172, 216);"></td>
            </tr>


<!-- FOOTER SECTION -->
            <tr>
                <td style="background-color:rgb(102, 72, 50); color: #ffffff;">
                    <table width="100%">

                        <tr>
                            <td style="text-align: center; padding: 45px 20px;">

                                <a href=#><img src="https://i.ibb.co/xgbbdSD/insight-white.png"
                                                                  alt="insight-white" width="190"></a>
                                <p style="padding: 10px;">WorkNet</p>
                                <p style="padding: 10px;">Бишкек, Ленинский район, Табышалиева, 29</p>
                                <a href=#><img src="https://i.ibb.co/w7tMxb9/white-instagram.png"
                                                                  alt="white-instagram" width="32"></a>
                                <a href=#><img src="https://i.ibb.co/wWZCbWz/white-facebook.png"
                                                                  alt="white-facebook" width="32"></a>
                                <a href=#><img src="https://i.ibb.co/Kz02Vqv/white-youtube.png"
                                                                  alt="white-youtube" width="32"></a>
                                <a href=#><img src="https://i.ibb.co/HnmChX6/white-twitter.png"
                                                                  alt="white-twitter" width="32"></a>
                                <p style="padding: 10px;">ПОДПИШИТЕСЬ</p>

                            </td>
                        </tr>

                        <tr>
                            <td height="8" style="background-color: rgb(102, 134, 176);"></td>
                        </tr>

                    </table>
                </td>
            </tr>

            </table>


    </>


</body>
</html>

